<div id="modal" class="map_modal" [class.isModal]="!this.modal"></div>

<div id="modal-content" class="centered dialog" [class.isModal]="!this.modal">
    <div class="leftColumn" style="padding-bottom: 10px;">
        <form (submit)="onSubmit($event)">
        <div class="tileHeader" style="padding: 10px; margin-bottom: 10px;">
            Login
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label leftColumn">E-Mail</label>
            </div>
            <div class="field-body" style="margin-right:10px;">
                <div class="field">
                    <div class="control">
                        <input type="test" name="username" class="input" />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label leftColumn">Password</label>
            </div>
            <div class="field-body" style="margin-right:10px;">
                <div class="field">
                    <div class="control">
                        <input type="password" name="password" class="input"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="notification is-danger is-centered" *ngIf="error">
            {{error}}
        </div>
        
        <div class="field is-grouped is-grouped-centered" >
            <div class="control">
              <button type="submit" name="login" class="button is-link" (click)="this.login='login'">Login</button>
            </div>
            <div class="control">
              <button type="submit" name="register" class="button is-link" (click)="this.login='register'">Register</button>
            </div>
        </div>
        </form>
        <button type="button" (click)="discord()">Discord</button>
    </div>
</div>

<div class="dialog" style="left: 50%; transform: translate(-50%, 0); z-index: 99"   [class.isModal]="!this.modal">
    <div class="leftColumn" style="padding-bottom: 10px;">
        <div class="tileHeader" style="padding: 10px; margin-bottom: 10px;">Information</div>
        <div style="padding-right: 10px; float: right">
            <div class="btn" style=" margin-top: 10px;" title="Discord channel">
                 <a href="https://discord.gg/PQeJMUeXb2"><fa-icon [icon]="faDiscord" size="xs" [styles]="{'color': 'white'}"></fa-icon></a>
             </div>
         </div>
         <div style="padding-left: 10px;">
            This is just a first rough version. Please give feedback and report bugs in the discords channel.
        </div>
        
        <div class="content" style="padding-left: 10px;">
            <b>Known Bugs:</b><br>
            <ul>
                <li>currently no known bugs</li>
            </ul>
        </div>
    
    </div>
</div>
