table {    
    background-color: rgb(13,24,28);
}

.tileHeader {
    background-color: rgb(20, 32, 39); 
    color: white !important;
}

.columnData {
    background-color: rgb(13,24,28);
    color: rgb(182,222,236);
}