<ul>
    <li *ngFor="let entry of entries">
        <div class="clickable" (click)="toggle(entry)" *ngIf="entry.id" [id]="entry.id">
            <span *ngIf="entry.children?.length ?? 0 > 0" class="opener"><fa-icon [icon]="entry.open ? faCaretDown : faCaretRight"></fa-icon></span>
            <span *ngIf="entry.children?.length ?? 0 === 0" class="spacer">&nbsp;&nbsp;</span>
            <img *ngIf="entry.icon" [src]="entry.icon">
            <span class="entryName" (click)="entrySelected(entry)">{{entry.name}}</span>
        </div>
        <dumap-tree-view-level [entries]="entry.children" *ngIf="entry.open" style="left: 5px" (selected)="entrySelected($event)" [loadChildren]="loadChildren"></dumap-tree-view-level>
    </li>
</ul>
