<div id="modal" class="map_modal" [class.isModal]="!this.modal"></div>
<div id="modal-content" class="centered dialog" [class.isModal]="!this.modal">
    <div class="leftColumn" style="padding-bottom: 10px;">
        <div class="tileHeader" style="padding: 10px;">Add Scan</div>
        <div style="padding-top: 10px; padding-left: 10px;padding-right: 10px; margin-bottom: 10px; padding-bottom: 3px; border-bottom: 3px solid rgb(27,40,48)">
            <span (click)="tab=1" class="tab" [class.tab-active]="tab == 1" style="overflow: visible">Add scan manually</span>
            <!--
            <span (click)="tab=2" class="tab" [class.tab-active]="tab == 2">Paste OCR result</span>
            <span (click)="tab=3" class="tab" [class.tab-active]="tab == 3">Use automatic upload</span>
            -->
        </div>
        <div *ngIf="tab == 1">
            <form #scanForm="ngForm">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label leftColumn">Planet</label>
                </div>
                <div class="field-body" style="margin-right:10px;">
                    <div class="field">
                        <div class="control">
                            <div class="select">
                                <select name="planet" style="width:100%" [(ngModel)]="scan.planet" (change)="changePlanet($event)" required #planet="ngModel">
                                    <option *ngFor="let planet of planets" [ngValue]="planet.name">
                                        {{planet.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p *ngIf="planet.errors?.required && (formTouched || scanForm.touched || scanForm.dirty)" class="help is-danger">
                            This field is required
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label leftColumn">Time</label>
                </div>
                <div class="field-body" style="margin-right:10px;">
                    <div class="field">
                        <div class="control">
                            <input name="time" class="input" type="date" [ngModel] ="scan.time | date:'yyyy-MM-dd'" (ngModelChange)="scan.time = $event" placeHolder="Time" required #time="ngModel">
                        </div>
                        <p *ngIf="time.errors?.required && (formTouched || scanForm.touched || scanForm.dirty)" class="help is-danger">
                            This field is required
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label leftColumn">Territory Id</label>
                </div>
                <div class="field-body" style="margin-right:10px;">
                    <div class="field">
                        <div class="control">
                            <!--(input)="inputValidator($event)"-->
                            <input name="tileId" class="input" type="number" placeholder="Territory Id" [(ngModel)]="scan.tileId"  required #tileId="ngModel" customMin="0" [customMax]="maxTiles-1" pattern="\d+">
                        </div>
                        <p *ngIf="tileId.errors?.pattern && (formTouched || scanForm.touched || scanForm.dirty)" class="help is-danger">
                            This tile id is invalid, invalid characters
                        </p>
                        <p *ngIf="tileId.errors?.required && (formTouched || scanForm.touched || scanForm.dirty)"class="help is-danger">
                            This field is required
                        </p>
                        <p *ngIf="tileId.errors?.customMin && (formTouched || scanForm.touched || scanForm.dirty)"class="help is-danger">
                            This tile id is invalid, minimum tile id is 0
                        </p>
                        <p *ngIf="tileId.errors?.customMax && (formTouched || scanForm.touched || scanForm.dirty)"class="help is-danger">
                            This tile id is invalid, {{scan.planet}} only has {{maxTiles}} tiles
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" *ngFor="let ore of this.currentOres | sortBy:'asc':'order'">
                <div class="field-label is-normal">
                    <label class="label leftColumn">{{ore.name}}</label>
                </div>
                <div class="field-body" style="margin-right:10px;">
                    <div class="field">
                        <div class="control">
                            <input [name]="ore.name" class="input" type="text" placeholder="ore amount in L, empty if no ore of this type is present" [(ngModel)]="scan.ores[ore.name]" pattern="\d+" #currentOre="ngModel">
                        </div>
                        <p *ngIf="currentOre.errors?.pattern && (formTouched || scanForm.touched || scanForm.dirty)" class="help is-danger">
                            This ore amount is invalid
                        </p>
                    </div>
                </div>
            </div>

            <div class="notification is-danger" *ngIf="error.length > 0">
                <div *ngFor="let e of error">{{e}}</div>
            </div>
            <div class="field is-grouped is-grouped-centered" >
                <div class="control">
                <button class="button is-link" (click)="saveScan(false, scanForm)">Save & New</button>
                </div>
                <div class="control">
                    <button class="button is-link" (click)="saveScan(true, scanForm)">Save & Close</button>
                </div>
                <div class="control">
                <button class="button is-link is-light" (click)="endModal.emit()">Close</button>
                </div>
            </div>
            </form>
        </div>
        <div *ngIf="tab == 2">
            <div class="content" style="padding: 10px">
                <a href="https://ocr.space/">OCR space</a> has good results with following settings:
                <ul>
                    <li>Language: English</li>
                    <li>Do receipt scanning and/or table recognition [x]</li>
                    <li>Auto-enlarge content (recommended for low DPI)</li>
                    <li>Create Searchable PDF -> Just extract text and show overlay (fastest option)</li>
                    <li>Select OCR Engine to use: -> Use OCR Engine2 (Often better for number and special character OCR)</li>
                </ul>
                The parse script will fix minor recognition problems like the 'chrom ite' in the example below.
            </div>
            <div class="field" style="padding: 10px">
                <textarea style="width:100%;" [(ngModel)]="ocrResult" rows="10" placeholder="SYSTEM	Alioth	
TERRITORY ID	0815	
AGE	18 min	
Bauxite	12.34 kL	
Quartz	12.24 kL	
Coal	12.73 kL	
Hematite	12.72 kL	
chrom ite	12.56 kL	"></textarea>
            </div>

            <div class="notification is-danger" *ngIf="error.length > 0">
                <div *ngFor="let e of error">{{e}}</div>
            </div>
            <div class="field is-grouped is-grouped-centered" >
                <div class="control">
                <button class="button is-link" (click)="fillForm()">Parse</button>
                </div>                
                <div class="control">
                <button class="button is-link is-light" (click)="endModal.emit()">Close</button>
                </div>
            </div>
        </div>
        <div *ngIf="tab == 3" style="color: rgb(182,222,236);">
            <div class="content" style="padding: 10px">
                The automatic companion app just needs to run in the background while you have DU running. It then automatically looks for the newest logfile and switchs to newer logfiles if they appear. All you have to do is to use your Territory Scanner as usual and the application transmits all scan data to the website as soon as you click the save button of your scanner result.<br>
                <br>
                Current version of the automatic companion app can always be found at<br>
                <a href="https://github.com/tiramon/du-map-companion/releases/latest" target="_blank" style="color: white">
                    <fa-icon [icon]="faDownload" size="s" [styles]="{'color': 'white'}"></fa-icon> https://github.com/tiramon/du-map-companion/releases/latest
                </a> <br>
                <br>
                Requirements:<br>
                <ul>
                    <li>Java 11+ -> can be downloaded <a href="https://www.oracle.com/de/java/technologies/javase-downloads.html" target="_blank" style="color: white">here  <fa-icon [icon]="faJava" size="s" [styles]="{'color': 'white'}"></fa-icon>

                    </a></li>
                </ul><br>
                If you have problems have a look at <a href="https://github.com/tiramon/du-map-companion" target="_blank" style="color: white">https://github.com/tiramon/du-map-companion</a> or visit our <a href="https://discord.gg/PQeJMUeXb2" target="_blank" style="color: white">discord channel <fa-icon [icon]="faDiscord" size="s" [styles]="{'color': 'white'}"></fa-icon></a>
                <img src="/assets/ducompanion.png"/>
            </div>
            <div class="field is-grouped is-grouped-centered" >
                <div class="control">
                <button class="button is-link is-light" (click)="endModal.emit()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>