.dialog {
    position: absolute;
    width:50%;
    z-index: 103;
    background-color: rgb(27,40,48);
    padding: 5px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.loading_modal {
    position: fixed; /* Stay in place */
    z-index: 102; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.tileHeader {
    background-color: rgb(20, 32, 39); 
    color: white;
    font-weight: bold;
}

.leftColumn {
    background-color: rgb(13,24,28);
     color: rgb(76,112,124);
}


.isModal {
    display: none;
}
