<nav class="navbar" role="navigation" aria-label="main navigation" style="z-index: 100">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://www.dumap.de">
      <img src="assets/DU-Companion.svg" style="height: 60px;" >
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" [class.is-active]="navBarActive" (click)="navBarActive = !navBarActive">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [class.is-active]="navBarActive">
    <div class="navbar-start">
      <a class="navbar-item" (click)="navigate('/map')">
        Map
      </a>

      <a class="navbar-item" (click)="navigate('/market')">
        Market
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {{name}}
      </div>
    </div>
<!--
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  -->
  </div>
</nav>

<dumap-loading></dumap-loading>
<div class="hero is-fullheight-with-navbar">
  <router-outlet></router-outlet>
</div>
