<dumap-map-settings *ngIf="showSettings"></dumap-map-settings>
<dumap-loading></dumap-loading>
<dumap-login *ngIf="!isLogedin()" [modal]="!isLogedin()"></dumap-login>
<dumap-add-scan-dialog *ngIf="this.showAddScan" [modal]="this.showAddScan" (endModal)="this.showAddScan = false" [currentPlanetId]="celestialId"></dumap-add-scan-dialog>
<div class="columns">
  <div class="column is-2" style="background-color: rgb(27,40,48); padding: 0 ">
    <img src="assets/maps.PNG" style="object-fit: contain;">
    
    <div style="position: absolute; top: 10px; left: 10px; background-color: transparent;">
      <label class="label" style="color: white">Planet</label>
      <div class="select is-small">
        <select style="width: 130px" (change)="changePlanet($event);">
          <option *ngFor="let planet of this.planets" [value]="planet.id">{{planet.name}}</option>
        </select>
      </div><br>
      <label class="label" style="color: white">Tile Id</label>
      <input  #tileId style="width: 130px" class="input is-small" title="Enter Tile and press Enter to load map" value="0" min="0" (input)="inputValidator($event)"  (keydown.enter)="onKeydown($event)">
      <div class="btn" style=" margin-top: 10px" title="add scan" (click)="showAddScanDialog()">+</div>

      <div class="btn" style=" margin-top: 10px" title="settings" (click)="showSettings = !showSettings">
        <fa-icon [icon]="faCog" size="xs" [styles]="{'color': 'white'}"></fa-icon>
      </div>

      <div class="btn" style=" margin-top: 10px" title="logout" (click)="logout()">L</div>

      
      <div class="btn" style=" margin-top: 10px" title="Discord channel">
        <a href="https://discord.gg/PQeJMUeXb2"><fa-icon [icon]="faDiscord" size="xs" [styles]="{'color': 'white'}"></fa-icon></a>
      </div>
    </div>
  </div>
  <div class="column" style="background-color: rgb(27,40,48); padding: 0;">
    <dumap-map-component></dumap-map-component>
  </div>  
  <div class="is-220px" style="background-color: rgb(27,40,48);">
    <div style="margin: 20px">
      <dumap-detail-window></dumap-detail-window>
    </div>
  </div>
</div>



<router-outlet></router-outlet>