body, div {
    background-color: rgb(27,40,48);
    padding: 0 ;
}

.is-220px {
    min-width: 220px;
  }

.btn {
    height: 50px;
    line-height: 33px;  
    width: 50px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgb(20, 32, 39);
    color: white;
    text-align: center;
    cursor: pointer;
    border: 5px solid rgb(27,40,48);
  }