.market {
    background: rgb(36,56,63);
}

.nav {
    background-color: rgb(36,56,63);
    background-image: url('/assets/market.png'); 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    overflow: auto;
    color: white;
}