<div class="columns is-gapless" style="height: calc(100vh - 3.25rem)">
    <div class="column is-3 ml-1 mb-1 mr-2">
        <div class="box nav">
            <a [routerLink]="['avg']" style="text-decoration: none; color: white">Avg Ore Prices</a>
            <dumap-tree-view style="height: 100vh" (selected)="onEntrySelected($event)" [entries]="entries" [loadChildren]="loadChildren.bind(this)"></dumap-tree-view>
        </div>
    </div>
    <div class="column">
        <router-outlet></router-outlet>
    </div>
</div>
