<div id="modal" class="map_modal" [class.isModal]="!this.modal"></div>

<div id="modal-content" class="centered dialog" [class.isModal]="!this.modal">
    <div class="leftColumn" style="padding-bottom: 10px;">
        <div class="tileHeader" style="padding: 10px; margin-bottom: 10px;">
            Login
        </div>

        <div class="field is-grouped is-grouped-centered" >
            <div class="control">
                <div class="loginButton" (click)="discord()">
                    <fa-icon [icon]="faDiscord" size="s" [styles]="{'color': 'white'}"></fa-icon> Login with Discord
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="dialog" style="left: 50%; transform: translate(-50%, 0); z-index: 99"   [class.isModal]="!this.modal">
    <div class="leftColumn" style="padding-bottom: 10px;">
        <div class="tileHeader" style="padding: 10px; margin-bottom: 10px;">Information</div>
        <div style="padding-right: 10px; float: right">
            <div class="btn" style=" margin-top: 10px;" title="Discord channel">
                 <a href="https://discord.gg/PQeJMUeXb2"><fa-icon [icon]="faDiscord" size="xs" [styles]="{'color': 'white'}"></fa-icon></a>
             </div>
         </div>
         <div style="padding-left: 10px;">
            Please give feedback and report bugs in the discords channel.
        </div>
    </div>
</div>
